//bg

.bg-subtle {
  background-color: $bg-subtle;
}
.bg-accent {
  background-color: $fg-accent;
}

.bg-hover {
  background-color: $slate4;
}

.bg-active {
  background-color: $bg-active;
}

//fg
.fg-text-contrast {
  color: $fg-text-contrast;
}
.fg-accent {
  color: $fg-accent;
}

.fg-text {
  color: $fg-text;
}

//border

.fg-border-accent {
  border-color: $fg-accent;
}

.fg-border {
  border-color: $fg-border;
}

.fg-solid-border {
  border-color: $fg-solid;
}

.fg-line-border{
  border-color: $fg-line;
}