//Global color variables
$black: #000000;
$white: #ffffff;
$transparent: transparent;
$crimson1: #fffcfd;
$crimson2: #fff7fb;
$crimson3: #feeff6;
$crimson4: #fce5f0;
$crimson5: #f9d8e7;
$crimson6: #f4c6db;
$crimson7: #edadc8;
$crimson8: #e58fb1;
$crimson9: #e93d82;
$crimson10: #e03177;
$crimson11: #d31e66;
$crimson12: #3d0d1d;
$crimsonDark1: #1d1418;
$crimsonDark2: #27141c;
$crimsonDark3: #3c1827;
$crimsonDark4: #481a2d;
$crimsonDark5: #541b33;
$crimsonDark6: #641d3b;
$crimsonDark7: #801d45;
$crimsonDark8: #ae1955;
$crimsonDark9: #e93d82;
$crimsonDark10: #f04f88;
$crimsonDark11: #f76190;
$crimsonDark12: #feecf4;
$indigo1: #fdfdfe;
$indigo2: #f8faff;
$indigo3: #f0f4ff;
$indigo4: #e6edfe;
$indigo5: #d9e2fc;
$indigo6: #c6d4f9;
$indigo7: #aec0f5;
$indigo8: #8da4ef;
$indigo9: #3e63dd;
$indigo10: #3a5ccc;
$indigo11: #3451b2;
$indigo12: #101d46;
$indigoDark1: #131620;
$indigoDark2: #15192d;
$indigoDark3: #192140;
$indigoDark4: #1c274f;
$indigoDark5: #1f2c5c;
$indigoDark6: #22346e;
$indigoDark7: #273e89;
$indigoDark8: #2f4eb2;
$indigoDark9: #3e63dd;
$indigoDark10: #5373e7;
$indigoDark11: #849dff;
$indigoDark12: #eef1fd;
$blue1: #fbfdff;
$blue2: #f5faff;
$blue3: #edf6ff;
$blue4: #e1f0ff;
$blue5: #cee7fe;
$blue6: #b7d9f8;
$blue7: #96c7f2;
$blue8: #5eb0ef;
$blue9: #0091ff;
$blue10: #0081f1;
$blue11: #006adc;
$blue12: #00254d;
$blueDark1: #0f1720;
$blueDark2: #0f1b2d;
$blueDark3: #10243e;
$blueDark4: #102a4c;
$blueDark5: #0f3058;
$blueDark6: #0d3868;
$blueDark7: #0a4481;
$blueDark8: #0954a5;
$blueDark9: #0091ff;
$blueDark10: #369eff;
$blueDark11: #52a9ff;
$blueDark12: #eaf6ff;
$grass1: #fbfefb;
$grass2: #f3fcf3;
$grass3: #ebf9eb;
$grass4: #dff3df;
$grass5: #ceebcf;
$grass6: #b7dfba;
$grass7: #97cf9c;
$grass8: #65ba75;
$grass9: #46a758;
$grass10: #3d9a50;
$grass11: #297c3b;
$grass12: #1b311e;
$Darkgrass1: #0d1912;
$Darkgrass2: #0f1e13;
$Darkgrass3: #132819;
$Darkgrass4: #16301d;
$Darkgrass5: #193921;
$Darkgrass6: #1d4427;
$Darkgrass7: #245530;
$Darkgrass8: #2f6e3b;
$Darkgrass9: #46a758;
$Darkgrass10: #55b467;
$Darkgrass11: #63c174;
$Darkgrass12: #e5fbeb;
$amber1: #fefdfb;
$amber2: #fff9ed;
$amber3: #fff4d5;
$amber4: #ffecbc;
$amber5: #ffe3a2;
$amber6: #ffd386;
$amber7: #f3ba63;
$amber8: #ee9d2b;
$amber9: #ffb224;
$amber10: #ffa01c;
$amber11: #ad5700;
$amber12: #4e2009;
$amberDark1: #1f1300;
$amberDark2: #271700;
$amberDark3: #341c00;
$amberDark4: #3f2200;
$amberDark5: #4a2900;
$amberDark6: #573300;
$amberDark7: #693f05;
$amberDark8: #824e00;
$amberDark9: #ffb224;
$amberDark10: #ffcb47;
$amberDark11: #f1a10d;
$amberDark12: #fef3dd;
$slate1: #fbfcfd;
$slate2: #f8f9fa;
$slate3: #f1f3f5;
$slate4: #eceef0;
$slate5: #e6e8eb;
$slate6: #dfe3e6;
$slate7: #d7dbdf;
$slate8: #c1c8cd;
$slate9: #889096;
$slate10: #7e868c;
$slate11: #687076;
$slate12: #11181c;
$slateDark1: #151718;
$slateDark2: #1a1d1e;
$slateDark3: #202425;
$slateDark4: #26292b;
$slateDark5: #2b2f31;
$slateDark6: #313538;
$slateDark7: #3a3f42;
$slateDark8: #4c5155;
$slateDark9: #697177;
$slateDark10: #787f85;
$slateDark11: #9ba1a6;
$slateDark12: #ecedee;
$blackAlpha1: hsla(0, 0%, 0%, 0.012);
$blackAlpha2: hsla(0, 0%, 0%, 0.027);
$blackAlpha3: hsla(0, 0%, 0%, 0.047);
$blackAlpha4: hsla(0, 0%, 0%, 0.071);
$blackAlpha5: hsla(0, 0%, 0%, 0.090);
$blackAlpha6: hsla(0, 0%, 0%, 0.114);
$blackAlpha7: hsla(0, 0%, 0%, 0.141);
$blackAlpha8: hsla(0, 0%, 0%, 0.220);
$blackAlpha9: hsla(0, 0%, 0%, 0.439);
$blackAlpha10: hsla(0, 0%, 0%, 0.478);
$blackAlpha11: hsla(0, 0%, 0%, 0.565);
$blackAlpha12: hsla(0, 0%, 0%, 0.910);
$whiteAlpha1: hsla(0, 0%, 100%, 0);
$whiteAlpha2: hsla(0, 0%, 100%, 0.013);
$whiteAlpha3: hsla(0, 0%, 100%, 0.034);
$whiteAlpha4: hsla(0, 0%, 100%, 0.056);
$whiteAlpha5: hsla(0, 0%, 100%, 0.086);
$whiteAlpha6: hsla(0, 0%, 100%, 0.124);
$whiteAlpha7: hsla(0, 0%, 100%, 0.176);
$whiteAlpha8: hsla(0, 0%, 100%, 0.249);
$whiteAlpha9: hsla(0, 0%, 100%, 0.386);
$whiteAlpha10: hsla(0, 0%, 100%, 0.446);
$whiteAlpha11: hsla(0, 0%, 100%, 0.592);
$whiteAlpha12: hsla(0, 0%, 100%, 0.923);
//Semantic color variables
$bg-default: $white;
$bg-base: $slate1;
$bg-subtle: $slate2;
$bg: $slate3;
$bg-hover: $slate4;
$bg-active: $slate5;
$fg-default: $black;
$fg-line: $slate6;
$fg-border: $slate7;
$fg-border-hover: $slate8;
$fg-solid: $slate9;
$fg-solid-hover: $slate10;
$fg-text: $slate11;
$fg-text-contrast: $slate12;
$fg-accent: #10243E;
$fg-invisible: $transparent;
$fg-button-transparent: #ffffff03;
$disabled-disabled: $slate5;
$disabled-on-disabled: $slate8;
$accent-bg-subtle: $indigo2;
$accent-bg: $indigo3;
$accent-bg-hover: $indigo4;
$accent-bg-active: $indigo5;
$accent-line: $indigo6;
$accent-border: $indigo7;
$accent-border-hover: $indigo8;
$accent-solid: $indigo9;
$accent-solid-hover: $indigo10;
$accent-text: $indigo11;
$accent-on-accent: $white;
$success-bg-subtle: $grass2;
$success-bg: $grass3;
$success-bg-hover: $grass4;
$success-bg-active: $grass5;
$success-line: $grass6;
$success-border: $grass7;
$success-border-hover: $grass8;
$success-solid: $grass9;
$success-solid-hover: $grass10;
$success-text: $grass11;
$success-on-success: $white;
$warning-bg-subtle: $amber2;
$warning-bg: $amber3;
$warning-bg-hover: $amber4;
$warning-bg-active: $amber5;
$warning-line: $amber6;
$warning-border: $amber7;
$warning-border-hover: $amber8;
$warning-solid: $amber9;
$warning-solid-hover: $amber10;
$warning-text: $amber11;
$warning-on-warning: $black;
$alert-bg-subtle: $crimson2;
$alert-bg: $crimson3;
$alert-bg-hover: $crimson4;
$alert-bg-active: $crimson5;
$alert-line: $crimson6;
$alert-border: $crimson7;
$alert-border-hover: $crimson8;
$alert-solid: $crimson9;
$alert-solid-hover: $crimson10;
$alert-text: $crimson11;
$alert-on-alert: $white;
$info-bg-subtle: $blue2;
$info-bg: $blue3;
$info-bg-hover: $blue4;
$info-bg-active: $blue5;
$info-line: $blue6;
$info-border: $blue7;
$info-border-hover: $blue8;
$info-solid: $blue9;
$info-solid-hover: $blue10;
$info-text: $blue11;
$info-on-info: $white;